

form {
  margin: auto;
  margin-top: 60px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  width: 30%;
  margin-bottom: 60px;
}

h2 {
  margin-left: 20px;
  margin-top: 30px;
}

form>input {
  display: block;
  width: 90%;
  height: 40px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

button {
  width: 90%;
  height: 40px;
  display: block;
  margin: auto;
  color: white;
  background-color: #009E74;
  border: 0;
  margin-bottom: 30px;
}

.body_reg-status{
  width: 50%;
  margin: auto;
  text-align: center;
}



@media screen and (min-width: 320px) and (max-width: 480px){
  form{
    width: 90%;
  }
}