<div class="body">
  <form (ngSubmit)="userInfo(f.value)" #f="ngForm" >
    <h2>Sign up</h2>

    <input type="text" name="name" placeholder="Name" required ngModel >
    <input type="email" name="email" placeholder="Email" required  ngModel >
    <input type="password" name="password" placeholder="Password" required ngModel >
    <button type="submit" [disabled]="f.invalid" name="button">create account</button>
      <div class="body_reg-status" *ngIf="registerStaus">
        {{registerStaus}}
      </div>
  </form>


</div>
