<div class="header">
<a class="header__start-project" href="#">Start Project</a>
<a href="#"> <img src="../assets/kickstarter-logo.png" alt="logo"></a>
<a class="header__sign-in" href="#">Sign In</a>
</div>

<div class="body">
  <div class="body__genral-info first">
    <p class="body__genral-info__title">{{date}}</p>
    <p class="body__genral-info__bottom-title">Bringing creative projects to life.</p>
  </div>
  <div class="body__genral-info ">
    <p class="body__genral-info__title">Total users:</p>
    {{totalUsers}}
  </div>
  <div class="body__genral-info">
    <p class="body__genral-info__title">Total projects:</p>
    {{totalProjects}}
  </div>
  <div class="body__genral-info">
    <p class="body__genral-info__title">Total users:</p>
    {{totalUsers}}
  </div>
</div>
