<div class="body">
  <h1>{{projectData.title}}</h1>
  <img src={{projectData.img}} alt="project-pic">
  <div class="body__project-stats">
    <ul>
      <li>US$ {{projectData.totalAmountContributed}} <p>pleged of {{projectData.fundingGoal}} goal</p> </li>
      <li>{{projectData.backers}} <p>backers</p> </li>
      <li>{{daysLeft}} <p>days to go</p> </li>
    </ul>
    <input type="number" name="contribution" #input placeholder="contribute to project $$$">
    <button type="button" (click)="contribute(input.value)"  name="button">Back this project</button>
    <div class="contributionStatus" *ngIf="contributionStatus">
      {{contributionStatus}}
    </div>
  </div>
  <div class="body__project-description">
    <h2>{{projectData.title}}</h2>
  <div [innerHTML]="projectData.description">

  </div>
  </div>
</div>
