.body{
  width: 80%;
  margin: auto;
}

.body_project-preview{
  width: 30%;
  margin-top: 60px;
  border: 0.5px solid rgba(0,0,0,0.7);
}

.body_project-preview > ul {
  list-style: none;
}

img{
  width: 100%;
  height: 25%;
}

hr{
  width: 90%;
}

.body_project-preview__p-title{
  margin-left: 10%;
}
