<div class="header">
<a class="header__start-project" routerLink="/start-project">Start Project</a>
<a routerLink="/main"> <img src="../assets/kickstarter-logo.png" alt="logo"></a>
<a class="header__sign-in" routerLink="/sign-in">Sign In</a>
<a class="header__user"routerLink="/user" *ngIf="userName">{{userName}}</a>
</div>

<div class="body">
  <div class="body__genral-info first">
    <p class="body__genral-info__title">{{date}}</p>
    <p class="body__genral-info__bottom-title">Bringing creative projects to life.</p>
  </div>
  <div class="body__genral-info ">
    <p class="body__genral-info__title">Total users:</p>
    {{allStats.totalUsers}}
  </div>
  <div class="body__genral-info">
    <p class="body__genral-info__title">Total projects:</p>
    {{allStats.totalProjects}}
  </div>
  <div class="body__genral-info">
    <p class="body__genral-info__title">Mony contributed:</p>
    {{allStats.totalMoney}}$
  </div>
</div>
