.body{
  width: 60%;
  margin: auto;

}

h2{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.body__input{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: 0.5px solid rgba(0,0,0,0.7);
  border-radius: 6px;
  background-color: #F8F9FD;
}

.body__input__right-side{
  display: inline-block;
  width: 60%;
}

.body__input__left-side{
  width: 30%;
  height: 100%;
  display: inline-block;
}

label{
  margin-left: 30px;
  width: 20%;
}

input, option{
  margin-top: 20px;
  width: 90%;
}

select{
  margin-top:20px;
  margin-bottom: 20px;
  height: 25px;
  width: 90%;
}

#description{
margin-top: 50px;
}

button{
  display: block;
  width: 50%;
  margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #009E74;
    border: 0;
    color:white;
    height: 35px;
    font-size: 16px;
}

.fr-box{
  margin-top: 50px;
}

.projDes{
  margin-top: 15px;
  margin-bottom: 20px;
}


@media screen and (min-width: 320px) and (max-width: 480px){
  .body{
    width: 90%;
  }

  .body__input{
    width: 100%;
  }

  .body__input__left-side{
    position: relative;
  }

  #pos-absolute1{
    position: absolute;
    top: -120px;
    left: -20px;
  }
  .pos-absolute{
    position: absolute;
    top: -70px;
    left: -20px;
  }
}