<div class="body">
  <form (ngSubmit)="login(f.value)" #f="ngForm">
    <h2>Login</h2>
    <input type="email" name="email" placeholder="Email" ngModel required>
    <input type="password" name="password" placeholder="Password" ngModel required>
    <button type="submit" [disabled]="f.invalid" name="button">Log me in!</button>
    <div class="body_logStatus" *ngIf="loginStatus">
      {{loginStatus.message}}
    </div>
    <div class="footer">
      <p>New to kickstarter? <a routerLink="/sign-up">Sign up!</a></p>
    </div>
  </form>


</div>
