
.header{
  margin-top: 50px;
  margin-left: 100px;
}

.body{
  margin-left: 100px;
  margin-top: 40px;
}

span{
  font-size: 32px;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  padding: 0;
}

ul > li{
  display: inline-block;
  margin-right: 2%;
}

.body__project-preview{
  width: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  margin-right: 5%;
  border: 1px solid rgba(0,0,0,0.6);
}

.body__project-preview > a > img {
  width: 100%;
  height: 250px;
}

.body__project-preview > ul >li{
  display: block;
  padding-left: 15px;
  padding-bottom: 10px;
}

hr{
  width: 90%;
}

.body__project-preview__projcet-title{
  margin-left: 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .body{
    margin-left: 15px;
  }

  .header{
    margin-top: 40px;
    margin-left: 0;
  }

  ul{
    border-top: 1px solid black;
    margin: 0;
    overflow-x: scroll;
    padding-top: 40px;
    padding-left: 15px;
    white-space: nowrap;
  }

  ul > li{
    margin-right: 20px;
  }

  .body__project-preview{
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .body__project-preview > ul{
    border-top: none;
    padding-top: 5px;
  }

  .body__project-preview > a > img {
    width: 100%;
    height: auto;
  }
}
