<div class="header">
<ul>
    <li (click)="getCategory(cat)" *ngFor="let cat of categorys">{{cat}}</li>
</ul>
</div>

<div class="body">
  <div>
   <span [title]="category"> {{category}}</span> <a [routerLink]="['/view-all',category]">View all &#x2192;</a>
   </div>
  <div class="body__project-preview" *ngFor="let proj of projects">
  <a [routerLink]="['/view-project',proj.id]"> <img src={{proj.img}} alt="project img"></a>
  <p class="body__project-preview__projcet-title">{{proj.title}}</p>
    <hr>
    <ul>
      <li>Goal: {{proj.fundingGoal}}$</li>
      <li>Funded: {{proj.totalAmountContributed}}$</li>
      <li>Backers: {{proj.backers}}</li>
    </ul>
  </div>
</div>
